@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Variables */
/* Generales */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  /* border: 1px red solid; */ }
  html body {
    background-image: linear-gradient(#fff, rgba(234, 253, 26, 0.1));
    font-family: "Work Sans", sans-serif;
    min-height: 100vh;
    /* border: 1px red solid; */ }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      html body {
        background: #faf5ed; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      html body {
        background: #faf5ed; } }
    html body ul {
      list-style: none; }
      html body ul li {
        text-decoration: none; }
        html body ul li a {
          font-family: "Work Sans", sans-serif;
          font-size: 1rem;
          text-decoration: none !important;
          color: #222222;
          cursor: url(../../images/hand-pointer-01.png), pointer; }
          html body ul li a:hover {
            color: #6b53e0 !important; }
    html body p {
      font-family: "Work Sans", sans-serif;
      font-size: 2rem;
      line-height: 3rem;
      font-weight: 200;
      color: #222222;
      margin: 0; }

/* Header */
header {
  padding: 0 8rem; }
  header .mm-navbar .mm-nav-div {
    padding: 0; }
    header .mm-navbar .mm-nav-div mm-btn-mobile {
      border: 0; }
  header .mm-navbar .navbar-nav .nav-item {
    margin-left: 2rem; }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    header {
      padding: 0 4%;
      margin-top: 2%;
      margin-left: 0.2rem; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    header {
      padding: 0 10%;
      margin-top: 4%;
      margin-left: 0.2rem; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    header {
      padding: 0 4%;
      margin-top: 2%;
      margin-left: 0.2rem; } }

/* Footer */
.mm-footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: space-around;
  align-items: center;
  width: 35rem;
  padding-top: 1rem;
  margin-top: 8rem;
  /* border: 1px solid red; */ }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .mm-footer {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 0 1rem;
      margin-top: 6rem;
      margin-bottom: .5rem !important;
      width: 100vw; } }
  .mm-footer .p-footer {
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 3rem;
    color: #222222; }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      .mm-footer .p-footer {
        font-size: 0.83333rem !important;
        line-height: 2rem; } }
  .mm-footer .footer-link {
    margin-right: 2rem;
    z-index: 1; }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      .mm-footer .footer-link {
        margin-right: .5rem; } }

/* Hero */
.hero {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-top: 4rem; }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .hero {
      margin-top: 0; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .hero {
      padding: 0 10%;
      margin-top: 8%; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .hero {
      padding: 0 16%;
      margin-top: 2rem; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .hero .list-hero {
      margin-top: 2rem; } }
  .hero .list-hero .main-header {
    font-family: "Work Sans", sans-serif;
    font-size: 7rem;
    line-height: 7rem;
    font-weight: 100;
    color: #222222;
    margin-left: 8rem; }
    .hero .list-hero .main-header:hover {
      font-style: italic; }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      .hero .list-hero .main-header {
        font-size: 4rem;
        line-height: 1rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
        margin-left: 4%; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .hero .list-hero .main-header {
        font-size: 8rem;
        line-height: 8rem;
        margin-left: 8%; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      .hero .list-hero .main-header {
        font-size: 6rem;
        line-height: 6rem; } }
  .hero .illus {
    width: 45%;
    height: auto;
    margin-left: 4rem; }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      .hero .illus {
        width: 60vw;
        height: auto;
        margin-left: .5rem; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .hero .illus {
        width: 50vw;
        height: auto;
        margin: 2rem 0 2rem 2rem; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      .hero .illus {
        width: 25vw;
        height: auto; } }

/* Arrow */
.arrow {
  position: relative;
  top: 3rem;
  margin-left: 8rem;
  animation-name: rotation;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite; }

@keyframes rotation {
  0% {
    transform: translateY(0rem); }
  50% {
    transform: translateY(5rem); }
  100% {
    transform: translateY(0rem); } }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .arrow {
      margin-left: 4%; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .arrow {
      margin-left: 10%; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .arrow {
      margin-left: 4%; } }

/* Chat icon */
.chatLink {
  position: fixed;
  top: 78%;
  right: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 100; }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .chatLink {
      right: 4%;
      top: 90%; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .chatLink {
      right: 10%; } }
  .chatLink .chatText {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    padding-right: .5rem;
    text-decoration: none;
    color: #222222;
    transform: rotate(-90deg);
    margin-bottom: 3rem; }
    @media only screen and (min-width: 320px) and (max-width: 1024px) {
      .chatLink .chatText {
        display: none; } }

/* Highlighted projects */
.hlProjects {
  margin-top: 12rem;
  margin-bottom: 6rem;
  padding: 0 8rem; }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .hlProjects {
      margin-top: 11rem;
      margin-bottom: 0;
      padding: 0 4rem 1rem 1rem; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .hlProjects {
      margin-left: 10%;
      padding: 0; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .hlProjects {
      margin-left: 4%;
      padding: 0; } }
  .hlProjects .hl {
    margin-bottom: 6rem; }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      .hlProjects .hl {
        margin: 2rem 0 !important; } }
    .hlProjects .hl .itemNum {
      font-family: "Work Sans", sans-serif;
      font-size: 2rem;
      margin-top: 1rem; }
      @media only screen and (min-width: 320px) and (max-width: 480px) {
        .hlProjects .hl .itemNum {
          margin-top: 0;
          font-size: 1rem;
          margin-bottom: 0.5rem; } }
    .hlProjects .hl .itemProj {
      text-decoration: none;
      color: #222222; }
      .hlProjects .hl .itemProj:hover {
        text-decoration: underline 3px; }
      .hlProjects .hl .itemProj .second-header {
        font-family: "Work Sans", sans-serif;
        font-size: 4rem;
        font-weight: 500;
        color: #222222; }
        @media only screen and (min-width: 320px) and (max-width: 480px) {
          .hlProjects .hl .itemProj .second-header {
            font-size: 2.5rem;
            line-height: 2.8rem; } }
    .hlProjects .hl .desc {
      font-size: 2.5rem;
      line-height: 3rem; }
      @media only screen and (min-width: 320px) and (max-width: 480px) {
        .hlProjects .hl .desc {
          font-size: 1.2rem;
          line-height: 1.5rem;
          width: 100%; } }

/* Pages */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 5rem;
  left: auto;
  /* About me Page */
  /* Carousel */ }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .main-content {
      width: 100%;
      top: 2rem; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main-content {
      width: 100%;
      top: 2rem; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .main-content {
      padding: 0 4%; } }
  .main-content .ft {
    margin-top: 1rem; }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      .main-content .ft {
        padding: 0 4%; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .main-content .ft {
        padding: 0 10%; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      .main-content .ft {
        padding: 0 4%; } }
    @media only screen and (min-width: 1024px) {
      .main-content .ft {
        margin-top: 1.5rem; } }
    .main-content .ft .pages-header {
      font-family: "Work Sans", sans-serif;
      font-size: 4rem;
      line-height: 4rem;
      font-weight: 200;
      color: #222222; }
      @media only screen and (min-width: 320px) and (max-width: 480px) {
        .main-content .ft .pages-header {
          font-size: 4rem;
          line-height: 4rem;
          margin-bottom: 2rem; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .main-content .ft .pages-header {
          font-size: 6rem;
          line-height: 6rem;
          margin-top: 2rem;
          margin-bottom: 4rem; } }
  .main-content .ft-about-me {
    padding: 0 8rem; }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      .main-content .ft-about-me {
        padding: 0 4%; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .main-content .ft-about-me {
        padding: 0 10%; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      .main-content .ft-about-me {
        padding: 0 4%; } }
    @media only screen and (min-width: 1024px) {
      .main-content .ft-about-me {
        margin-top: 1.5rem; } }
    .main-content .ft-about-me .about-header {
      font-family: "Work Sans", sans-serif;
      font-size: 4rem;
      line-height: 4rem;
      font-weight: 200;
      color: #222222; }
      @media only screen and (min-width: 320px) and (max-width: 480px) {
        .main-content .ft-about-me .about-header {
          font-size: 4rem;
          line-height: 4rem;
          margin-bottom: 2rem; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .main-content .ft-about-me .about-header {
          font-size: 6rem;
          line-height: 6rem;
          margin-top: 2rem; } }
    .main-content .ft-about-me .about-p {
      margin-top: 2rem;
      margin-bottom: 5rem;
      padding: 0 0.4rem; }
      .main-content .ft-about-me .about-p .aContact {
        font-size: 2rem;
        line-height: 3rem;
        font-weight: 300;
        color: #6b53e0;
        margin: 0.3em;
        text-decoration: none; }
        .main-content .ft-about-me .about-p .aContact:hover {
          text-decoration: underline 2px; }
  .main-content .carousel {
    margin-top: 5rem; }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      .main-content .carousel {
        width: 100%;
        margin-bottom: 2rem; } }

/* 404 Error Page */
.error-img {
  width: 15%;
  margin-top: 5rem;
  margin-bottom: 10rem; }

.header-404 {
  font-family: "Work Sans", sans-serif;
  font-size: 0.66667rem;
  font-weight: 200;
  color: #222222;
  width: 55%;
  text-align: center; }

.anchor-404 {
  text-decoration: none !important;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 5rem; }
  .anchor-404:hover {
    text-decoration: underline 3px #222222 !important; }

/* Contact Form */
.form {
  /* width: 80%; */
  position: relative;
  width: 60%;
  left: auto;
  right: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 9rem; }
  .form .formName {
    font-family: "Work Sans", sans-serif;
    height: 48px;
    width: 100%;
    padding-left: 10px;
    background-color: transparent;
    border-radius: 0;
    border: 0.5px black solid; }
  .form .formEmail {
    font-family: "Work Sans", sans-serif;
    height: 48px;
    width: 100%;
    padding-left: 10px;
    background-color: transparent;
    border-radius: 0;
    border: 0.5px black solid; }
  .form .formText {
    font-family: "Work Sans", sans-serif;
    height: 160px;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border-radius: 0;
    border: 0.5px black solid; }
  .form .submitButton {
    font-family: "Work Sans", sans-serif;
    height: 48px;
    width: 100%;
    border-radius: 0;
    border: 0.5px #6b53e0;
    background-color: #222222;
    color: #faf5ed;
    text-transform: uppercase; }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .form {
      width: 100%;
      padding: 0 4%;
      margin-top: 4rem; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .form {
      width: 100%;
      margin-top: 6rem;
      padding: 0 10%; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .form {
      padding: 0 16%; } }
