/* Footer */

.mm-footer {
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: space-around;
    align-items: center;
    width: 50rem;
    padding-top: 1rem;
    margin-top: 4rem;
    border: 1px solid red;

    @media only screen and (min-width : 320px) and (max-width : 480px) {
        display: grid;
        grid-template-rows: 1fr 1fr;
        top: 1rem;
        margin-bottom: 1rem !important;
        width: 80%;
    }

    .pFooter {
        font-family: $main-font;
        font-size: $font-size / 6;
        font-weight: 300;
        line-height: 3rem;
        color: $first-color-text;

        @media only screen and (min-width : 320px) and (max-width : 480px) {
            font-size: $font-size / 9 !important;
        }
    }

    .footerLink {
        z-index: 1;
    }
}

