/* Contact Form */

.form {
    /* width: 80%; */
    position: relative;
    width: 60%;
    left: auto;
    right: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .formName {
        font-family: $main-font;
        height: 48px;
        width: 100%;
        padding-left: 10px;
        background-color: transparent;
        border-radius: 0;
        border: 0.5px black solid;
    }

    .formEmail {
        font-family: $main-font;
        height: 48px;
        width: 100%;
        padding-left: 10px;
        background-color: transparent;
        border-radius: 0;
        border: 0.5px black solid;
    }

    .formText {
        font-family: $main-font;
        height: 160px;
        width: 100%;
        padding: 10px;
        background-color: transparent;
        border-radius: 0;
        border: 0.5px black solid;
    }

    .submitButton {
        font-family: $main-font;
        height: 48px;
        width: 100%;
        border-radius: 0;
        border: 0.5px $second-color-text;
        background-color: $first-color-text;
        color: $bg-color;
        text-transform: uppercase;
    }

    @media only screen and (min-width : 320px) and (max-width : 480px)  {
        width: 100%;
        padding: 0 4%;
        margin-top: 4rem;
    }

    @media only screen and (min-width : 768px) and (max-width : 1024px) {
        width: 100%;
        margin-top: 6rem;
        padding: 0 10%;    
    }

    @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
        padding: 0 16%;    
    }
}