/* Generales */

html {
    font-size: 10pt;
    user-select: none;
    
    body {
        background-image: linear-gradient(#fff, rgba(234, 253, 26, 0.1));
        font-family: $main-font;

        @media only screen and (min-width : 320px) and (max-width : 480px) {
            background: #faf5ed;
        }

        .mm-navbar {
            margin-top: 1.5rem !important;
        }

        .mm-nav-div {
            padding: 0;
        }

        ul {
            list-style: none;

            li {
                text-decoration: none;

                a {
                    font-family: $main-font;
                    font-size: $font-size / 7;
                    text-decoration: none !important;
                    color: $first-color-text;

                    &:hover {
                        color: $second-color-text !important;
                        cursor: url(../../images/hand-pointer-01.png), pointer;
                    }
                }
            }
        }

        .second-header {
            font-family: $main-font;
            font-size: $font-size / 2;
            font-weight: 500;
            color: $first-color-text;

            @media only screen and (min-width : 320px) and (max-width : 480px) {
                font-size: $font-size / 3;
                line-height: $font-size / 2.5;
                width: 80%;
                left: 5rem;
            }
        }

        p {
            font-family: $main-font;
            font-size: $font-size / 3;
            font-weight: 200;
            line-height: $font-size / 2;
            color: $first-color-text;
        }

        .mm-footer {
            @media only screen and (min-width : 320px) and (max-width : 480px) {
                justify-content: center;
                top: 1rem;
                margin-bottom: 1rem !important;
            }
        }

        .pFooter {
            @media only screen and (min-width : 320px) and (max-width : 480px) {
                font-size: $font-size / 9 !important;
            }
        }
    }
}