/* Hero */

.hero {
    .main-header {
        line-height: $font-size;

        &:hover {
            font-style: italic;
        }

        @media only screen and (min-width : 320px) and (max-width : 480px)  {
            font-size: $font-size / 1.5;
            line-height: $font-size / 12;
            margin-top: 5rem;
            margin-bottom: 5rem;
        }

        @media only screen and (min-width : 768px) and (max-width : 1024px) {
            font-size: $font-size / 1.5;
            line-height: $font-size / 12;
            margin-top: 5rem;
            margin-bottom: 5rem;
        }
    }

    .illus {
        width: 14rem;
    }
}

/* Arrow */

.arrow {
    position: relative;
    top: 4rem;
    animation-name: rotation;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

    @keyframes rotation {
        0% {
            transform: translateY(0rem);
        }

        50% {
            transform: translateY(5rem);
        }

        100% {
            transform: translateY(0rem);
        }
    }
}

/* Chat icon */


.chatLink {
    position: fixed;
    top: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 100;

    .chatText {
        font-family: 'Work Sans', sans-serif;
        font-size: $font-size / 4;
        font-weight: 200;
        display: inline;
        align-items: center;
        justify-content: center;
        padding-right: 1vw;
        text-decoration: none;
        color: $first-color-text;

        @media only screen and (min-width : 320px) and (max-width : 480px) {
            display: none;
        }
    }

    @media only screen and (min-width : 320px) and (max-width : 480px) {
        right: 1rem;
    }
}



/* Highlighted projects */

.hlProjects {
    position: relative;
    top: 5rem;

    @media only screen and (min-width : 320px) and (max-width : 480px) {
        top: 0;
    }

    .hl {
        margin-top: 5rem;
        margin-bottom: 5rem;

        @media only screen and (min-width : 320px) and (max-width : 480px) {
            margin-top: 2rem !important;
            margin-bottom: 2rem !important;
        }

        .itemNum {
            font-family: $main-font;
            font-size: $font-size / 4;
            margin-top: 1rem;

            @media only screen and (min-width : 320px) and (max-width : 480px) {
                display: none;
            }
        }

        .itemProj {
            text-decoration: none;
            color: $first-color-text;

            &:hover {
                text-decoration: underline 3px;
            }
        }

        .desc {
            font-size: $font-size / 3;
            line-height: $font-size / 3;

            @media only screen and (min-width : 320px) and (max-width : 480px) {
                font-size: $font-size / 4;
                line-height: $font-size / 3;
                width: 80%;
                left: 5rem;
            }
        }
    }
}