/* Pages */

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 5rem;
    left: auto;
    margin: auto auto 10rem auto;

    @media only screen and (min-width : 320px) and (max-width : 480px)  {
        width: 100%;
        top: 2rem;
        margin-bottom: 8rem;
    }

    .ft-about-me {
        width: 60%;
        margin-bottom: 10em;

        .pages-header {
            font-family: $main-font;
            font-size: $font-size - 2;
            font-weight: 200;
            line-height: $font-size;
            color: $first-color-text;

            @media only screen and (min-width : 320px) and (max-width : 480px)  {
                font-size: $font-size / 2;
                line-height: $font-size / 2;
                margin-bottom: 4rem;
            }
        }

        .aContact {
            font-size: $font-size / 3;
            font-weight: 300;
            color: $second-color-text;
            margin: 0.3em;

            &:hover {
                text-decoration: underline 3px;
            }
        }

        @media only screen and (min-width : 320px) and (max-width : 480px)  {
            width: 95%;
            margin-bottom: 0;
        }
    }

    .carousel {
        margin-top: 5rem;

        .carousel-inner {
            img {
                margin: auto;
            }
        }
    }

    .carousel-control-prev-icon {
        position: relative;
        left: 8rem;
    }

    .carousel-control-next-icon {
        position: relative;
        right: 8rem;
    }
}

/* 404 error page */
.error-img { 
    width: 15%;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.header-404 {
    font-family: $main-font;
    font-size: $font-size / 1.5;
    font-weight: 200;
    color: $first-color-text;
    width: 55%;
    text-align: center;
}

.anchor-404 {
    text-decoration: none !important;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;

    &:hover {
        text-decoration: underline 3px $first-color-text !important;
    }
}